//footer navegation
.footer-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

.copyright {
  @media screen and (max-width: 767px) {
    display: none;
  }
}