.site-footer {
  display: none;
  align-items: flex-end;
  justify-content: flex-end;

  ul li {
    list-style: none;
  }

  ul {
    margin: 0;
  }

  .menu-footer {
    display: flex;

    .menu-item-footer {
      margin-right: 1rem;
    }
  }

  @media (min-width: 455px) {
      display: flex;
  }
}