.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 3;

  .main-navigation {
    width: auto;
  }

  //content none to avoid breaking flex
  &::before,
  &::after {
    content: none;
  }

  // navigation
  .menu-item {
    padding: 1rem;

    a {
      color: #c80000;
    }
    a:visited {
      color: #c80000;
    }
    a:hover, a:focus, a:active {
      color: #c80000;
    }
    a:focus {
      outline: 0;
    }
    a:hover, a:active {
      outline: 0;
    }
  }

}
