.main-navigation {
  display: flex;
  flex-direction: column;



  .menu-icon {
    color: #1e4130;
    height: 2rem;
    width: 2rem;
  }

  .menu-main-navigation-container {
    height: 100%;

    .menu {
      display: none;
      height: 100%;
      margin: 0;
      background-color: rgba(0, 0, 0, .7);

      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .menu-item {
        list-style: none;

        a {
          font-size: 3rem;
        }
      }

    }
  }

  .menu-toggle {
    align-self: flex-end;
    cursor: pointer;
  }

  .close-menu {
    height: 2rem;
    width: 2rem;
    display: none;
    font-size: 1rem;
    padding-top: .4rem;
  }
}

.reveal {
  .menu-icon {
    display: none;
  }
  .close-menu {
    display: block;
  }
  .main-navigation .menu-main-navigation-container .menu {
    display: flex;
  }
}