.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  .menu-main-navigation-container {
    background-color: rgba( 0, 0, 0, .7 );
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;

    .close-button {
      cursor: pointer;
      position: fixed;
      right: 0;
      top: 0;
    }
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    //float: left;
    position: relative;
    font-size: 2em;
    font-weight: 700;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul,
.main-navigation ul {
  display: block;
  cursor: pointer;
  text-align: center;
}

//@media screen and (min-width: 37.5em) {
//  .menu-toggle {
//    display: none;
//  }
//  .main-navigation ul {
//    display: block;
//  }
//}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

