.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  .menu-main-navigation-container {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: .8;
    transition: right 1s;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    @media screen and (min-width: 500px) {
      width: 30em;
      right: -30em;

      .close-button {
        margin-top: 1em;
        margin-right: 1em;
      }
    }

  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    font-size: 2em;
    font-weight: 700;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

}

.menu-toggle {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 3em;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .menu-toggle {
    margin-right: 4em;
  }
}

.close-button {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  color: #c80000;
  font-weight: 700;
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 0;
}

.reveal .menu-main-navigation-container {
  right: 0;
}

.reveal .menu-toggle {
  display: none;
}

.reveal .close-button {
  display: block;
}
