.frontpage-article {

  grid-row: 1/2;
  grid-column: 2/4;
  z-index: 1;

  .article-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6em;
    color: whitesmoke;

    h2 {
      margin: 0;
    }
  }
}

.show-frontpage-article {
  display: none;
}

.story-container {
  grid-column: 2/4;
  grid-row: 2/3;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  h3 {
    margin: 0;
    color: white;
    border: 1px solid;
    border-radius: 1em;
    padding: .3em;
    font-size: 1em;
  }

  h3:hover {
    background: black;
    cursor: pointer;
  }

  p {
    display: none;
  }

  .large {
    display: none;
  }
}
@media screen and (min-width: 768px) {

  .story-container {
    .large {
      display: inline;
    }
  }

}

@media screen and (min-width: 768px) {

  .frontpage-article {
    grid-column: 2/3;

    .article-container {
      font-size: 4.5em;
    }

  }

}

//position: relative;
//line-height: 0;
//
//.article-container {
//  position: absolute;
//  color: #2d2d2d;
//  font-size: 3.5vw;
//  width: 100%;
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  padding: 1%;
//  line-height: normal;
//
//  h1 {
//    //margin-top: 0;
//  }
//
//  h2 {
//    //font-size: 1.4em;
//    margin-top: 0;
//  }
//
//  h3 {
//    margin: 0;
//  }
//
//}
//
//.article-figure {
//  margin: 0;
//
//  img {
//    width: 100%;
//    opacity: .2;
//  }
//}
//
//.small-screen {
//  display: block;
//}
//
//.big-screen {
//  display: none;
//}
//

