h2.footer-heading {
  text-align: center;
  margin: 0;
  padding: 1em;
}

.footer {

  background-color: #201e1c;
  width: 100%;
  color: white;

  :focus {
    outline: none;
  }

  .sub-locations {
    display: none;
  }

  .locations ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .locations li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: .6em 1em;
    border: solid 1px;
    text-align: center;
  }

  .locations li a:hover {
    background: hsl(0, 0%, 25%);
  }

  .dropdown-toggle {
    background: none;
    border: none;
    padding: 0 1em;
    cursor: pointer;
  }

  .chevron-up {
    width: 1em;
    color: white;
    display: none;
  }

  .chevron-down {
    width: 1em;
    color: white;
  }

  .chevron-up.toggle-on {
    display: block;
  }

  .chevron-down.toggle-on {
    display: none;
  }

  .toggled-on {
    display: block;
  }

  .sub-locations li a {
    padding-left: 2em;
    background-color: #cccccc;
  }

  @media screen and (min-width: 55em) {
    // footer
    padding: 4em;

    h2.footer-heading {
      padding: 0;
    }

    .footer-locations {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .locations li {
      flex: 1 0 auto;
    }

    .locations li a {
      border: none;
    }

    .sub-locations li a {
      background-color: #201e1c;
    }
  }

}