.carousel {
  width: 100%;
  height: 100%;
  position: relative;

  .slide {
    margin: 0;
    transition: transform 1.5s ease-in-out;
    left: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
  }

  .move {
    transform:translate(-100%);
  }

  .next {
    transform:translate(-200%);
  }

  .active {
  }

  .hide {
    display: none;
  }
}
