.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;


  .slide {
    margin: 0;
    left: 100%;
    position: absolute;
    width: 100%;
  }

  .active {
    transform:translate(-100%);
    transition: transform .6s ease-in-out;
  }

  .next {
    transform:translate(-200%);
  }

  .right {
    transform:translate(0);
  }


  .slide-images {
    width: 100%;
    position: absolute;
  }

  .chevron {
    width: 30px;
    color: oldlace;
    position: absolute;
    cursor: pointer;
  }
  .chevron-right {
    margin-top: 20%;
    margin-left: 95%;
  }
  .chevron-left {
    margin-top: 20%;
    margin-left: 5%;
  }
}
