.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  //overflow: hidden;

  .slide {
    margin: 0;
    transition: transform 1.5s ease-in-out;
    left: 100%;
    position: absolute;
  }

  .move {
    position: relative;
    transform:translate(-100%);
    //transition: transform .6s ease-in-out;
  }

  .next {
    //display: block;
    transform:translate(-200%);
    //position: relative;
    //transform:translate(0);
    //transition: transform .6s ease-in-out;
  }

  .active {
    //transform:translate(100%);
    //transition: transform 1.5s ease-in-out;
  }

  .hide {
    display: none;
  }
}
