.entry-content {

  height: 100%;
  display: grid;
  grid-template-areas: "scroll";

  .horizontal-scroll, .frontpage-article, .frontpage-secondary, .chevron-container {
    grid-area: scroll;
  }

  .slides {
    height: 100%;
    display: flex;
    transition: transform .3s ease-in;
  }

  .slide {
    flex-shrink: 0;
    width: 100%;
  }

  .slide-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .chevron-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .chevron.chevron-left, .chevron.chevron-right {
    height: 3rem;
    //color: white;
    color: orange;
    cursor: pointer;
  }
}