.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;

  .slide {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }

  .slide-images {
    width: 100%;
    position: absolute;
  }

  figcaption {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    h3 {
      z-index: 1;
      color: antiquewhite;
      margin: 0 1em 1em 0;
    }
  }

  .start-figure {
    display: block;
  }

  .chevron-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
  }

  .chevron {
    width: 30px;
    color: oldlace;
    cursor: pointer;
    z-index: 1;
  }

  .chevron-right {
    margin-right: 1em;
  }

  .chevron-left {
    margin-left: 1em;
  }

  //slideShow animation

  .slide-left-in {
    display: block;
    z-index: 1;
    animation: slide-left-in 0.4s
  }

  @keyframes slide-left-in {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

  .slide-left-out {
    display: block;
    z-index: 0;
    animation: slide-left-out 0.4s
  }

  @keyframes slide-left-out {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  .slide-right-in {
    display: block;
    z-index: 1;
    animation: slide-right-in 0.4s
  }

  @keyframes slide-right-in {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

  .slide-right-out {
    display: block;
    z-index: 0;
    animation: slide-right-out 0.4s
  }

  @keyframes slide-right-out {
    from {
      left: 0;
    }
    to {
      left: 100%;
    }
  }

}
